<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>dvkov</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="wishlist" class="menu-about"><span>Вишлист</span></LinkTo>
    </div>
</nav>