<div class="wlist">
<Detail @caption="Чай и чайная аттрибутика">
    <p>Я обожаю китайский чай, хочу собрать посуду для Пин Ча, но сейчас есть только типот.</p>
    <p>Но и классический чайный набор до сих пор не собран.</p>
    <p>Все позиции отсортировал по нужности.</p>
    <Detail @caption="Чай">
        <DetailElement @description="Фэн Хуан Дань Цун (ФХДЦ):"><ElementLink @link="https://ozon.ru/t/LJaPMJ1">озон</ElementLink></DetailElement>
        <DetailElement @description="Да Хун Пао:"><ElementLink @link="https://ozon.ru/t/AwV9pWK">озон</ElementLink></DetailElement>
        <DetailElement @description="любой Маофэн:"><ElementLink @link="https://ozon.ru/t/rAPB9gY">озон</ElementLink></DetailElement>
        <DetailElement @description="Шэн Пуэр:"><ElementLink @link="https://ozon.ru/t/PRg8oVJ">озон</ElementLink></DetailElement>
        <DetailElement @description="любой Шу Пуэр"></DetailElement>
    </Detail>
    <Detail @caption="Чайная аттрибутика">
        <DetailElement @description="Чабань (чайная доска, супер хочется):"><ElementLink @link="https://ozon.ru/t/2G6rzMj">озон</ElementLink></DetailElement>
        <DetailElement @description="Чахай (сливник):"><ElementLink @link="https://ozon.ru/t/yR5Y7K3">озон</ElementLink></DetailElement>
        <DetailElement @description="Гайвань (заварник):"><ElementLink @link="https://ozon.ru/t/6B6WD2k">озон</ElementLink></DetailElement>
        <DetailElement @description="Чайные фигурки"></DetailElement>
        <DetailElement @description="Пиалы чайные (50-100мл)"></DetailElement>
        <DetailElement @description="Чахэ"><ElementLink @link="https://ozon.ru/t/ppadYbZ">озон</ElementLink></DetailElement>
    </Detail>
</Detail>
<hr>
<Detail @caption="Настольные игры">
    <p>Вообще хотелось бы какую-нибудь классную стратегию с экономикой и политикой, вроде Игры Престолов или битвы за Ракуган (второй кстати нет у меня).</p>
    <DetailElement @description="Сумерки империй:"><ElementLink @link="https://hobbygames.ru/sumerki-imperii-chetvjortoe-izdanie">HobbyWorld</ElementLink> или <ElementLink @link="https://www.avito.ru/moskva?q=%D0%A1%D1%83%D0%BC%D0%B5%D1%80%D0%BA%D0%B8+%D0%B8%D0%BC%D0%BF%D0%B5%D1%80%D0%B8%D0%B8">авито</ElementLink></DetailElement>
    <DetailElement @description="Тираны Подземья:"><ElementLink @link="https://hobbygames.ru/tirani-podzemja">HobbyWorld</ElementLink></DetailElement>
    <DetailElement @description="Остров духов:"><ElementLink @link="https://hobbygames.ru/ostrov-duhov">HobbyWorld</ElementLink></DetailElement>
    <DetailElement @description="Крутагидон. Чипсихоз:"><ElementLink @link="https://hobbygames.ru/jepichnie-shvatki-boevih-magov-krutagidon-jekstremalno-ostrij-chipsihoz">HobbyWorld</ElementLink></DetailElement>
    <DetailElement @description="Замес:"><ElementLink @link="https://hobbygames.ru/zames">HobbyWorld</ElementLink></DetailElement>
    <DetailElement @description="Поиски планеты X:"><ElementLink @link="https://hobbygames.ru/poiski-planeti-x">HobbyWorld</ElementLink></DetailElement>
    <DetailElement @description="Пандемия.Наследие:"><ElementLink @link="https://hobbygames.ru/pandemija-nasledie-sinjaja">HobbyWorld (синяя)</ElementLink></DetailElement>
</Detail>
<hr>
<Detail @caption="Дом">
    <Detail @caption="Техника">
        <DetailElement @description="Диспенсер мыльной пены:"><ElementLink @link="https://ozon.ru/t/BwlkZnJ">от сяоми</ElementLink></DetailElement>
        <DetailElement @description="Рисоварка"></DetailElement>
    </Detail>
    <Detail @caption="Текстиль">
        <DetailElement @description="Одеялко большое :3"></DetailElement>
        <DetailElement @description="Покрывало"></DetailElement>
        <DetailElement @description="Полотенце мягкое"></DetailElement>
        <DetailElement @description="Любой другой текстиль на ваш выбор"></DetailElement>
    </Detail>
    <Detail @caption="Разное">
        <DetailElement @description="Гирлянда"></DetailElement>
        <DetailElement @description="Светодиодная лента для украшения дома"></DetailElement>
        <DetailElement @description="Кухонная утварь (тарелочки, мисочки, салатницы, кружки, и тд, главное чтобы можно было в микроволновку ставить)"></DetailElement>
    </Detail>
</Detail>
<hr>
<Detail @caption="Клавиатурные приблуды">
    <p>Здесь сложно было что-то такое разместить, чтобы было адекватно по цене, потому что полноценные борды или DIY комплекты стоят от 7к.</p>
    <DetailElement @description="Смазка для свитчей tribosys 3203"><ElementLink @link="https://ozon.ru/t/EGlR4qy">(ну или такую, ее хотя бы в рф можно взять)</ElementLink></DetailElement>
    <DetailElement @description="Хорошие стабы:"><ElementLink @link="https://aliexpress.ru/item/1005001543613992.html?spm=a2g2w.cart.0.0.2d8a4aa6ALUb8A&sku_id=12000016519949082&_ga=2.198837865.736124399.1674415565-871988485.1673282397">например</ElementLink></DetailElement>
    <DetailElement @description="PBT кейкапы"></DetailElement>
    <DetailElement @description="Gateron Yellow 87 шт."><ElementLink @link="https://aliexpress.ru/item/1005003367811148.html?sku_id=12000025451387346&spm=a2g2w.productlist.search_results.8.5fe64aa6cbCgfq">алик</ElementLink></DetailElement>
    </Detail>
<hr>
<Detail @caption="Разное">
    <DetailElement @description="Тапочки в виде акулы или другие забавные"></DetailElement>
    <DetailElement @description="Blahaj:">можно найти, например, <ElementLink @link="https://ozon.ru/t/KKdb0d4">тут</ElementLink></DetailElement>
    <DetailElement @description="Любая другая плюшевая игрушка"></DetailElement>
    <DetailElement @description="Толстовка/пуловер с милым принтом (размер M)"></DetailElement>
    <DetailElement @description="Наушники накладные или полноразмерные"></DetailElement>
</Detail>
</div>